:root {
  --color-blue-50: #e6ebfa;
  --color-blue-75: #668fff;
  --color-blue-100: #3369ff;
  --color-blue-200: #0044ff;
  --color-blue-300: #4d7cff;
  --color-blue-hover: #0036cc;
  --color-blue-active: #002999;
  --color-light-blue-75: #ccdaff;
  --color-light-blue-100: #b2c7ff;
  --color-light-blue-500: #2f4c9c;
  --color-antracite-50: #f7f7f7;
  --color-antracite-75: #e1e1e1;
  --color-antracite-100: #afafaf;
  --color-antracite-200: #888888;
  --color-antracite-300: #686868;
  --color-antracite-400: #4d4d4d;
  --color-antracite-500: #232324;
  --color-white: #fefefe;
  --color-coral-50: #ffedf0;
  --color-coral-100: #ff99a8;
  --color-coral-400: #cc001f;
  --color-footer-bg: #252a3b;
  --color-sentiment-greener: #36a782;
  --color-sentiment-green: #6bc95d;
  --color-sentiment-yellow: #ffd21d;
  --color-sentiment-orange: #ffa620;
  --color-sentiment-red: #ff563f;
  --color-card-dark: #3f4453;
}
